{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
{% trans 'Cities & Hotels' %}
{% endblock %}
{% block content %}

  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>

  <div class="about-main-content" style="background-image: url({% static 'assets/images/awaza.jpg' %})">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="content">
            <div class="blur-bg" style="background-color: rgba(0, 191, 255, 0.8)"></div>
            <h4>{% trans 'EXPLORE OUR COUNTRY'%}</h4>
            <div class="line-dec"></div>
            <h2>{% trans 'Welcome To Turkmenistan'%}</h2>
            <p>{% trans 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt uttersi labore et dolore magna aliqua is ipsum suspendisse ultrices gravida' %}</p>
            <div class="main-button">
              <a href="{% url 'explore_more' %}">{% trans 'Discover More'%}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ***** Main Banner Area End ***** -->
  
  <div class="cities-town">
    <div class="container">
      <div class="row">
        <div class="slider-content">
          <div class="row">
            <div class="col-lg-12">
              <h2> <em>{% trans 'Cities' %} &amp; {% trans 'Towns' %} </em></h2>
            </div>
            <div class="col-lg-12">
              <div class="owl-cites-town owl-carousel">
                  {% for item in cities %}
                <div class="item">
                  <div class="thumb">
                    <a href="{{ item.get_absolute_url }}"><img src="{{ item.main_photo.url }}" alt=""></a>
                    <h4>{{ item.name }}</h4>
                  </div>
                </div>
                    {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="weekly-offers">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading text-center">
            <h2>{% trans 'Best Hotels in Each City' %}</h2>
            <p>{% trans 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.' %}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
          <div class="owl-weekly-offers owl-carousel">
              {% for item in hotels %}
            <div class="item">
              <div class="thumb">
                <img src="{{ item.main_photo.url }}" alt="">
                <div class="text">
                  <h4>{{ item.name }}<br><span> </span></h4>
                  <h6>${{ item.cost }}<br><span>/{% trans 'person' %}</span></h6>
                  <div class="line-dec"></div>
                  <ul>
                    <li>{% trans 'Information:' %}</li>
                    <li><i class="fa fa-star"></i> {{ item.stars }}</li>
                    <li><i class="fa fa-hammer"> {{ item.build_in|date:'Y' }}</i>
                    <li><i class="fa fa-location"></i> {{ item.city }}</li>

                  </ul>
                  <div class="main-button">
                    <a href="{{ item.get_absolute_url }}">{% trans 'Read more' %}</a>
                  </div>
                </div>
              </div>
            </div>
              {% endfor %}




          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="more-about">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 align-self-center">
          <div class="left-image">
            <img src="{% static 'assets/images/about-left-image.jpg' %}"  alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="section-heading">
            <h2>{% trans 'Discover More About Our Country' %}</h2>
            <p>{% trans 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.'%}</p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="info-item">
                <h4>1500 +</h4>
                <span>{% trans 'Total Guests Yearly' %}</span>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="info-item">
                <h4>150.000+</h4>
                <span>{% trans 'Amazing Accomoditations' %}</span>
              </div>
            </div>
            <div class="col-lg-12">
              <div class="info-item">
                <div class="row">
                  <div class="col-lg-6">
                    <h4>2150+</h4>
                    <span>{% trans 'Amazing Places' %}</span>
                  </div>
                  <div class="col-lg-6">
                    <h4>240.580+</h4>
                    <span>{% trans 'Different Check-ins Yearly' %}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <p>{% trans 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.' %}</p>
          <div class="main-button">
            <a href="{% url 'explore_more' %}">{% trans 'Discover More' %}</a>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h2></h2>
          <h4></h4>
        </div>
        <div class="col-lg-4">
          <div class="border-button">
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}