{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6" style="margin-top: 110px;">
            <h2 style="color: black">{% trans 'Explore More' %}</h2>
            {% for item in more %}
            <ul class="list-group">
                <li class="list-group-item"><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></li>
            </ul>
            {% endfor %}
        </div>
    </div>
</div><br><br><br><br><br>
    <div class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
