{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}
{% trans 'Tours' %}
{% endblock %}
{% block content %}
  <div class="page-heading" style="background-image: url('{% static 'assets/images/heading-bg-02.jpg' %}')">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h4>{% trans 'Discover Our Weekly Offers' %}</h4>
          <h2>{% trans 'Tours for any flavour' %}</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="search-form">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
        {% csrf_token %}
          <form id="search-form" name="gs" method="get" role="search" action="{% url 'search' %}">
            <div class="row">
              <div class="col-lg-2">
                <h4>{% trans 'Sort Tours By:' %}</h4>
              </div>
              <div class="col-lg-4">
                  <fieldset>
                      <select name="Location" class="form-select" aria-label="Default select example" id="chooseLocation" onChange="this.form.click()" required>
                          <option value="Tours">{% trans 'Tours' %}</option>
                          {% for place in places %}
                          <option type="checkbox" name="option1" value="{{ place.title }}">{{ place.title }}</option>
                          {% endfor %}
                      </select>
                  </fieldset>
              </div>
              <div class="col-lg-4">
                  <fieldset style="display: flex; justify-content: space-evenly">
{#                      <input type="number" class="form-control" id="numberInput" placeholder="Enter a number">#}
                      <input type="number" name="Price1" class="form-control" placeholder="First price" required style="width: 40%">
                      <input type="number" name="Price2" class="form-control" placeholder="Last price" required style="width: 40%">
                  </fieldset>
              </div>
              <div class="col-lg-2">
                  <fieldset>
                      <button class="border-button" type="submit">{% trans 'Search Results' %}</button>
                  </fieldset>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="amazing-deals">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <div class="section-heading text-center">
            <h2>{% trans 'Best Weekly Offers In Each City' %}</h2>
            <p>{% trans 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.' %}</p>
          </div>
        </div>
          {% for item in page_obj %}
        <div class="col-lg-6 col-sm-6">
          <div class="item">
            <div class="row">
              <div class="col-lg-6">
                <div class="image">
                  <img src="{{ item.photo.url }}" alt="">
                </div>
              </div>
              <div class="col-lg-6 align-self-center">
                <div class="content">
                  <span class="info">*{% trans 'Limited Offer Today' %}</span>
                  <h4>{{ item.title }}</h4>
                  <div class="row">
                    <div class="col-6">
                      <i class="fa fa-calendar"></i>
                      <span class="list">{% trans 'Tour Days:' %} {{ item.tour_plan }}</span>
                    </div>
                  </div>
                  <p>{{ item.inf_content|truncatewords:20 }}</p>
                  <div class="main-button">
                    <a href="{{ item.get_absolute_url }}">{% trans 'Read More' %}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>'
        </div>
          {% endfor %}
        <div class="col-lg-12">
         <ul class="page-numbers">
                  {% if page_obj.has_previous %}
                  <li><a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-arrow-left"></i></a></li>
                  {% endif %}

                  {% for p in page_obj.paginator.page_range %}
                  {% if page_obj.number == p %}
                  <li class="active"><a href="#">{{ p }}</a></li>
                  {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                  <li><a href="?page={{ p }}">{{ p }}</a></li>
                  {% endif %}
                  {% endfor %}

                  {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-arrow-right"></i></a></li>
                  {% endif %}
                </ul>
        </div>
      </div>
    </div>
  </div>

<div class="call-to-action">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <h2></h2>
          <h4></h4>
        </div>
        <div class="col-lg-4">
          <div class="border-button">
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}