{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    Cities & Hotels
{% endblock %}

{% block style %}
        .border-container {
            width: 45%;
            height: 400px;
            border: 2px solid #3498db;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            background-color: #fff;
            box-shadow: 0 0 20px rgba(0, 191, 255, 0.8);
        }
        .slider-container {
            width: 100%;
            margin: auto;
            overflow: hidden;
        }

        .slider {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .slide {
            min-width: 100%;
            height: 400px;
            box-sizing: border-box;
        }

        slide img {
            max-width: 100%;
            height: 100%;
            display: block;
        }

        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        .prev:hover, .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
{% endblock %}

{% block content %}

    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div class="about-main-content" style="background-image: url({{ blog.photo.url }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content">
                        <div class="blur-bg" style="background-color: rgba(0, 191, 255, 0.8)"></div>
                        <h4>{% trans 'BLOG' %}</h4>
                        <div class="line-dec"></div>
                        <h2>{{ blog.title }}</h2>
                        <p>{% trans 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt uttersi labore et dolore magna aliqua is ipsum suspendisse ultrices gravida' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <p><i class="fa fa-eye"></i>{{ blog.views }}</p>
                <!-- Blog Post Content -->
                <h1 class="mt-4">{{ blog.title }}</h1>
                <hr>
                <img class="img-fluid rounded w-50" src="{{ blog.photo.url }}" alt="Sample Image">
                <hr>
                <p class="lead">{{ blog.content }}</p>

            </div>
        </div>
    </div>
    <div class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2></h2>
                    <h4></h4>
                </div>
                <div class="col-lg-4">
                    <div class="border-button">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}