{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}
    Cities & Hotels
{% endblock %}

{% block style %}
        .border-container {
            width: 45%;
            height: 400px;
            border: 2px solid #3498db;
            border-radius: 10px;
            overflow: hidden;
            position: relative;
            background-color: #fff;
            box-shadow: 0 0 20px rgba(0, 191, 255, 0.8);
        }
        .slider-container {
            width: 100%;
            margin: auto;
            overflow: hidden;
        }

        .slider {
            display: flex;
            transition: transform 0.5s ease-in-out;
        }

        .slide {
            min-width: 100%;
            height: 400px;
            box-sizing: border-box;
        }

        slide img {
            max-width: 100%;
            height: 100%;
            display: block;
        }

        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

        .prev:hover, .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }
{% endblock %}

{% block content %}

    <div id="js-preloader" class="js-preloader">
        <div class="preloader-inner">
            <span class="dot"></span>
            <div class="dots">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </div>

    <div class="about-main-content" style="background-image: url({{ city.main_photo.url }})">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="content">
                        <div class="blur-bg" style="background-color: rgba(0, 191, 255, 0.8)"></div>
                        <h4></h4>
                        <div class="line-dec"></div>
                        <h2>{{ city.name }}</h2>
                        <p>{% trans 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt uttersi labore et dolore magna aliqua is ipsum suspendisse ultrices gravida' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-8">
                <!-- Blog Post Content -->
                <h1 class="mt-4">{{ city.name }}</h1>
                <hr>
                <img class="img-fluid rounded w-50" src="{{ city.main_photo.url }}" alt="Sample Image">
                <hr>
                <p class="lead">{{ city.info }}</p>

            </div>
        </div>
    </div>
<br><br><br><br><br>
<center>
<div class="border-container">
    <div class="slider-container">
        <div class="slider">
            {% if city.img1 %}
            <div class="slide"><img src="{{ city.img1.url }}" alt="Slide 1"></div>
            {% endif %}
            {% if city.img2 %}
            <div class="slide"><img src="{{ city.img2.url }}" alt="Slide 2"></div>
            {% endif %}
            {% if city.img3 %}
            <div class="slide"><img src="{{ city.img3.url }}" alt="Slide 3"></div>
            {% endif %}
            {% if city.img4 %}
            <div class="slide"><img src="{{ city.img4.url }}" alt="Slide 4"></div>
            {% endif %}
            {% if city.img5 %}
            <div class="slide"><img src="{{ city.img5.url }}" alt="Slide 5"></div>
            {% endif %}
            {% if city.img6 %}
            <div class="slide"><img src="{{ city.img6.url }}" alt="Slide 5"></div>
            {% endif %}

            <!-- Add more slides as needed -->
        </div>
        <div class="prev" onclick="prevSlide()">&#10094;</div>
        <div class="next" onclick="nextSlide()">&#10095;</div>
    </div>
</div>
</center>
    <div class="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <h2></h2>
                    <h4></h4>
                </div>
                <div class="col-lg-4">
                </div>
            </div>
        </div>
    </div>

{% endblock %}