{% load i18n %}
<footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <p>{% trans 'Copyright' %} © <span id="year"></span> <a href="#">{% trans 'Hazar Travel & Tours' %}</a> {% trans 'Company. All rights reserved' %}
          <br>{% trans 'Read more about' %} <a href="{% url 'privacy' %}">{% trans 'Policy and Confidentiality' %}</a>
          <br>{% trans 'Design:'%} <a href="#" target="_blank" title="Akyyew_Nedir +99365592820 & Annagurbanow_Bayram +99361105022">ByNet</a></p>
        </div>
      </div>
    </div>
  </footer>