{% load static %}
{% load i18n %}
<div id="languages">
    <form action="{% url 'set_language' %}" method="post"  class="language-selector">
        {% csrf_token %}
        <input name="next" type="hidden" value="{{ request.path }}">
        <select name="language" id="id_language" onchange="this.form.submit()">
            {% get_current_language as current_language %}
            {% get_available_languages as available_languages %}
            {% for lang_code, lang_name in available_languages %}
                <option value="{{ lang_code }}" {% if lang_code == current_language %}selected{% endif %}>
                    {% if lang_name == 'Simplified Chinese' %}
                        {% trans 'Chi' %}
                    {% else %}
                        {{ lang_name|slice:3 }}
                    {% endif %}
                </option>
            {% endfor %}
        </select>
    </form>
</div>

